[project]
name = "fastapi-todo"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "fastapi>=0.128.5",
    "uvicorn>=0.40.0",
] 

[dependency-groups]
dev = [
    "black>=26.1.0",
]
